/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
### Laravel template
vendor/
node_modules/
/storage

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

.gitignore
.run
npm-debug.log
public/blog/ace/
public/blog/flatUI/
